@font-face {
    font-family: "Russo";
    src: url("../font/Russo_Sans_Bold.otf");
}

body{
    background:#444;
    text-align:center;
    margin-right:60px;
    color:white;
}

h1#title{
    font-family: "Russo";
    text-align:left;
    color:white;
    opacity:0.1;
    position:fixed;
    font-size:3em;
    margin-right:16px;
    margin-top:-8px;
    transition:all 0.8s;
}

h1#title>img.carrot{
    height:80px;
    margin-bottom:-16px;
    margin-top:-8px;
}

h1#title:hover{
    opacity:1;
}

g{
    opacity:0.1;
    cursor:pointer;
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
}
g text{
    opacity:0;
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
}
    
g.blue,
g.green,
g.red{
    opacity:0.3;
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
}

g:hover,
g:hover text{
    opacity:1;
}

g>path{
    fill:white;
}

g.green>path{
    fill:#9dff84;
}

g.red>path{
    fill:#ff474d;
}

g.blue>path{
    fill:cyan;
}

div#color.red{
    background:#ff474d;
}

div#color>img{
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
    -webkit-transform: rotate(-90deg);
       -moz-transform: rotate(-90deg);
         -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

div#color.open>img{
    -webkit-transform: rotate(90deg);
       -moz-transform: rotate(90deg);
         -o-transform: rotate(90deg);
            transform: rotate(90deg);
}

div#map,
aside{
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition:all 0.8s;
    display:inline-block;
    vertical-align:middle;
}

aside{
    width:400px;
    border-top:solid 2px white;
    border-bottom:solid 2px white;
    color:white;
    padding:16px;
    text-align:left;
    opacity:0;
}

nav{
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition:all 0.8s;
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    background:#333;
    width:80px;
    overflow-x:hidden;
}

div#menu{
    position:fixed;
    width:80px;
    display:block;
    min-height:80px;
}

div.menuBlock{
    width:80px;
    height:80px;
    display:block;
    cursor:pointer;
    -webkit-transition: background 0.8s;
       -moz-transition: background 0.8s;
         -o-transition: background 0.8s;
            transition: background 0.8s;
}

div.menuBlock>img{
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
    width:40px;
    margin-top:20px;
    opacity:0.5;
}

div.menuBlock>img:hover,
div.menuBlock.selected>img{
    opacity:1;
}

div.elt-menu.selected{
    background:#252525;
}

div.elt-menu:hover{
    background:#222;
}

div.elt-menu:active{
    box-shadow: inset 0 0 0.7em black;
}

div#infos{
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
    min-width:0;
    min-height:80px;
    width:420px;
    margin-left:80px;
}

div#borderTop{
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
    height:80px;
    background:#ff983d;
    width:0px;
    font-size:2em;
    font-family: "Russo";
    text-align:left;
}

div#borderTop>*{
    vertical-align:middle;
}


div.domine>img{
    width:50px;
    margin-bottom:-20px;
    margin-right:8px;
}


div#menu-parts{
    text-align:left;
}

div#menu-parts>div{
    -webkit-transition: all 0.8s;
       -moz-transition: all 0.8s;
         -o-transition: all 0.8s;
            transition: all 0.8s;
    height:0px;
    overflow-y:hidden;
}

div#menu-parts>div.selected{
    height:auto;
}

div#menu-parts .large{
    width:300px;
    height:60px;
    font-size:1.5em;
}

.btn{
    -webkit-transition: background 0.8s;
       -moz-transition: background 0.8s;
         -o-transition: background 0.8s;
            transition: background 0.8s;
    font-family: "Russo";
    display:block;
    background:#252525;
    text-align:center;
    margin:auto;
    cursor:pointer;
}

.btn:hover{
    background:#151515;
}

.btn:active{
    box-shadow: inset 0 0 0.7em black;
}

.btn>*{
    vertical-align:middle;
}

.career-data{
    display:block;
}

.max-height{
    display:inline-block;
    height:100%;
}

#mailReturn,
div#menu-parts textarea{
    -webkit-transition: background 0.8s;
       -moz-transition: background 0.8s;
         -o-transition: background 0.8s;
            transition: background 0.8s;
    width:374px;
    margin:auto;
    background:#333;
    border:solid 1px #444;
    padding:8px;
    color:white;
    font-size:1.3em;
    margin-bottom:8px;
}

#mailReturn{
    height:40px;
    margin-top:8px;
}

div#menu-parts textarea{
    height:250px;
}

#mailReturn:hover,
div#menu-parts textarea:hover{
    background:#444;
}

#mailReturn:focus,
div#menu-parts textarea:focus{
    background:#444;
    border:solid 1px #444;
}

.head-mder{
    display:block;
    padding:8px;
    background:#252525;
}













.center{
    text-align:center;
}

.hidden{
    display:none;
}













